* {
    margin: 0;
    padding: 0;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

.cartTab {
    width: 400px;
    background-color: #2d2d2d;
    color: white;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.5s;
    
    h1 {
        font-size: 2rem;
        padding: 20px;
        margin: 0;
        font-weight: 300;
    }

    .listCart {
        overflow: auto;


        .itemCart {

            display: grid;
            grid-template-columns: 70px 100px 50px 1fr;
            font-size: 16px;
            gap: 10px;
            text-align: center;
            align-items: center;

            img{
                width: 100%;
                height: 70px;
                border-radius: 50%;
                padding-left: 5px;
                object-fit: cover;
            }

            #quantity {
                span {
                    display:inline-block;
                    width: 22px;
                    height: 22px;
                    background-color: #ccc;
                    color: #1d1d1d;
                    border-radius: 50%;
                    cursor: pointer;
                    font-weight: 400;
                }
                span:nth-child(2) {
                    background-color: transparent;
                    color: #ccc;
                }
            }
        }

        .itemCart:nth-child(even) {
            background-color: #eee1;
        }

    }

    #cartBtn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .bn1:hover {
            background-color: #0784b5;
            color: white;
          }
    }
}

#listCart::-webkit-scrollbar {
    width: 0;
}