@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*  {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.frete {
	margin-bottom: 2rem;
}

.produto {
	margin-top: 10%;
}

.container {
	a {
		color: #1d1d1d;
	}
	a:hover {
		color: #0784b5;
	}
}


.navbar {
    background-color: #1d1d1d;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: #ffffff;
	h2 {
		font-weight: bold;
	}
	ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    li {
        margin-left: .8rem;
    }
    a{
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
    }
    a:hover {
        transition: .3s;
        text-decoration: underline;
        color: #0784b5;
    }
    .cart-login-container {
        display: flex;
        align-items: center; /* Centraliza o ícone e o login verticalmente */
        h3 {
            background-color: #0784b5;
            border-radius: 4px;
            padding: 4px;
            margin-left: 10px; /* Espaçamento entre o ícone do carrinho e o login */
            a:hover {
                text-decoration: none;
                color: white;
            }
        }

    }
}