<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto - Arq Eletronicos</title>

    <link rel="stylesheet" href="src/styles/detail.css">
    <link rel="stylesheet" href="src/styles/footer.css">


</head>
<body>
    <header>
        <nav class="navbar">
            <h2> <a th:href="@{/}"> Arq Eletrônicos</a></h2>
            <ul>
                <li><a href="#">Celular</a></li>
                <li><a href="#">Tablet</a></li>
                <li><a href="#">Notebook</a></li>
            </ul>
            <div class="cart-login-container">
                <a id="cart" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                </a>
                <h3><a href="login/index.html" target="_blank" rel="noopener noreferrer">Login</a></h3>
            </div>
        </nav>
    </header>

    <main id="main-container">
        <h2>Detalhes do produto</h2>
		<div id="produto-container" th:object="${produtos}">
		    <img th:src="@{/img/{imagem}(imagem=${produtoImagem})}" alt="Imagem do Produto">
			<div id="descricao-container">
		        <div class="descricao">
		            <h2 th:text="${produtos.nome}"></h2>
		            <h4>Descrição</h4>
					<p th:text="${produtos.descricao}"></p>
		        </div>
		        <div class="botoes">
		            <button class="bn1"> <a th:href="@{/carrinho(id=${produtos.id})}">Ir para Checkout</a> </button>
		        </div>
		    </div>
		</div>
    </main>

	<footer id="footer-container">
	    <div id="logo-direitos">
	        <h1>Arq.</h1>
	        <p>2024 Arq. Todos os direitos reservados.</p>
	    </div>
	    <div class="coluna-ativos">
	        <a th:href="@{/}">Celulares</a>
	        <a th:href="@{/}">Tablets</a>
	        <a th:href="@{/}">NoteBooks</a>
	    </div>
	    <div class="coluna-ativos">
	        <a href="https://www.instagram.com/">Instagram</a>
	        <a href="https://www.facebook.com">Facebook</a>
	        <a href="https://www.whatsapp.com">Contato</a>
	    </div>
	    <div class="coluna-ativos">
	        <a th:href="@{/politica-de-privacidade}">Política de Privacidade</a>
	        <a th:href="@{/termos-de-uso}">Termos de Serviço</a>
	    </div>
	</footer>
</body>
</html>