<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Arq Eletrônicos</title>

    <link rel="stylesheet" type="text/css" href="/src/styles/style.css" media="screen" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="login">
        <h1>Registro</h1>

        <form th:action="@{/registro/}" th:object="${usuario}" method="post">

            <div class="logsen">
                <label for="Nome">Nome</label>
                <input type="text" th:field="*{nome}" required>
            </div>


            <div class="logsen">
                <label for="email">email</label>
                <input type="email" th:field="*{email}" name="email" id="email" required>
            </div>

            <div class="logsen">
                <label for="senha">senha</label>
                <input type="password" th:field="*{senha}" name="senha" id="senha" required>
            </div>

            <p>Já possui cadadstro? <a th:href="@{/login/}"> Login!</a></p>
            
            <button type="submit" id="submit-button">Criar Conta!</button>
        </form>
    </div>
</body>
</html>