<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arq - Cadastro Cliente</title>

    <link rel="stylesheet" type="text/css" href="/src/styles/registroCliente.css" media="screen" />
	<link rel="stylesheet" href="/src/styles/footer.css">
</head>
<body>
	<header>
	    <nav class="navbar">
			
	        <h2> <a th:href="@{/}"> Arq Eletrônicos</a></h2>

			<p th:text="${message}"></p>

			<div class="cart-login-container">
				<h3><a th:href="@{/login/}" rel="noopener noreferrer">Login</a></h3>
			</div>
	    </nav>
	</header>
    <main>
        <div class="container">

            <form th:action="@{/carrinho/novo}"  method="post">
                <h2 th:text="${nome}"></h2>
                <h3>Antes de ir para o pagamento, insira as informações de contato e endereço.</h3>
                <label for="nome">Nome Completo:</label>
                <input type="text" name="nome" required>
               
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" id="cpf" required>

                <div class="divInput">
                    <div>
                        <label for="telefone">Telefone:</label>
                        <input type="text" name="telefone" id="telefone" required>
                    </div>

                    <div>
                        <label for="cep">CEP:</label>
                        <input type="text" name="cep" id="cep" required>
                    </div>

                </div>
                <div class="divInput">
                    <div>
                        <label for="cidade">Cidade:</label>
                        <input type="text" name="cidade" id="cidade" required>
                    </div>
                    <div>
                        <label for="bairro">Bairro:</label>
                        <input type="text" name="bairro" id="bairro" required>
                    </div>
                </div>
                <div class="divInput">
                    <div>
                        <label for="rua">Rua:</label>
                        <input type="text" name="rua" id="rua" required>
                    </div>
                    <div>
                        <label for="numero">Numero:</label>
                        <input type="number" name="numero" id="numero" required>
                    </div>
                </div>
                <label for="complemento">Complemento:</label>
                <input type="text" name="complemento" id="complemento" required>
                <input type="submit" value="Ir Para o Checkout" class="submitBtn">
            </form>
        </div>
    </main>
	<footer id="footer-container">
	    <div id="logo-direitos">
	        <h1>Arq.</h1>
	        <p>2024 Arq. Todos os direitos reservados.</p>
	    </div>
	    <div class="coluna-ativos">
	        <a th:href="@{/}">Celulares</a>
	        <a th:href="@{/}">Tablets</a>
	        <a th:href="@{/}">NoteBooks</a>
	    </div>
	    <div class="coluna-ativos">
	        <a href="https://www.instagram.com/">Instagram</a>
	        <a href="https://www.facebook.com">Facebook</a>
	        <a href="https://www.whatsapp.com">Contato</a>
	    </div>
	    <div class="coluna-ativos">
	        <a th:href="@{/politica-de-privacidade}">Política de Privacidade</a>
	        <a th:href="@{/termos-de-uso}">Termos de Serviço</a>
	    </div>
	</footer>
</body>
</html>
